<%- include('../partials/header') %>
<div id="driver-page">
  <% if(drivers.length === 0){ %>
    <h2 class="no-user-data-available">No Drivers Information to show now. Please add driver by clicking on "Add New Driver" button</h2>
<% } else {%> 
  <div class="detailsArea">
    <form class="newPageButton" action="/home/drivers/new" method="get">
      <button type="submit">Add New Driver</button>
    </form>
    <div class="details">
     
        <table>
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Age</th>
              <th>DOB(Y-M-D)</th>
              <th>Is Idle</th>
              <th>License Number</th>
              <th>License Type</th>
              <th>Assigned Truck</th>
              <th>Edit Driver Below</th>
            </tr>
          </thead>
          <tbody>
              <% drivers.forEach(driver => { %> 
              <tr>
                  <td><%= driver.firstname %></td>
                  <td><%= driver.lastname %></td>
                  <td><%= driver.age %></td>
                  <td>
                      <% const dobParsed =  driver.dob.toISOString().slice(0,10); %>
                      <%= dobParsed  %> 
                  </td>
                  <td><%- driver.isIdle === true ? 'Yes' : 'No' %></td>
                  <td><%= driver.licenseNumber %></td>
                  <td><%= driver.licenseType %></td>
                  <% if(driver.assignedTruck.length === 0){ %>
                      <td>Not Yet</td>
                  <% } else { %>
                    <% driver.assignedTruck.map( truck => {%>
                      <td><%= truck.truckNumber %></td>
                    <% }).join('')%> 

                     
                  <%} %>
                  <td>
                      <form action="/home/drivers/<%= driver._id %>" method="get">
                          <button type="submit">Edit Driver</button>
                      </form>
                  </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </div>
    </div>
<% } %> 
</div>

<%- include('../partials/footer') %> 
