<%- include('../partials/header') %>

<script>
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Country', 'Mhl'],
      ['Fuel Consumption',2000],
      ['Other Expense',500],
      ['Profit',10000 - 2500],

    ]);

    var options = {
      title:'Deliveries Report',
      is3D:true
    };

    var chart = new google.visualization.PieChart(document.getElementById('myChart'));
    chart.draw(data, options);
}
</script>



<div id="home-page">
  <%if(trips.length === 0){ %>
    <h2 class="no-user-data-available">No Trip Information to show now.</h2>
  <% } else { %> 
    <div class="detailsArea">
      <h1>Trips Report</h1>
        <div class="details">
              <table id="homePageTable">
                <thead>
                  <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Trip Price</th>
                  </tr>
                </thead>
                <tbody>
                  <% trips.forEach(trip => { %> 
                  <tr>
                    <td><%= trip.from %></td>
                    <td><%= trip.to %></td>
                    <td><%= trip.tripPrice %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
        </div>
    </div>
    <div id="homePageCharts">
      <h1> Trips Report Chart</h1>
      <div id="myChart"></div>
    </div>
  <% } %>
</div>

<%- include('../partials/footer') %> 
