<%- include('../partials/header') %>
<div id="truck-page"> 
    <div class="detailsArea">
      <form class="newPageButton" action="/home/trucks/new" method="get">
        <button type="submit">Add New Truck</button>
      </form>
      <% if(trucks.length === 0){ %>
        <h2 class="no-user-data-available">No Trucks Information to show now. Please add trucks by clicking on "Add New truck" button</h2>
      <% } else {%>
    <div class="details">
        
          <table>
            <thead>
              <tr>
                <th>Truck Number</th>
                <th>Make</th>
                <th>Mileage</th>
                <th>Maintenance Date(Y-M-D)</th>
                <th>Active</th>
                <th>Fuel Efficiency(Km/ltr)</th>
                <th>Current Driver</th>
                <th>Truck Drivers History</th>
                <th>Edit Truck Below</th>
              </tr>
            </thead>
            <tbody>
                <% trucks.forEach(truck => { %> 
                <tr>
                    <td><%= truck.truckNumber %></td>
                    <td><%= truck.make %></td>
                    <td><%= truck.mileage %></td>
                    <td>
                        <% const maintenanceDateParsed =  truck.maintenanceDate.toISOString().slice(0,10); %>
                        <%= maintenanceDateParsed  %> 
                    </td>
                    <td><%- truck.active === true ? 'Yes' : 'No' %></td>
                    <td><%= truck.fuelEfficiency %></td>
                    <td>
                    <% if(truck.currentDrivers.length === 0){ %>
                        Not Driver
                    <% } else { %>
                        <ul>
                          <%- truck.currentDrivers.map( driver => 
                          `<li>${driver.firstname}, ${driver.lastname}</li>`
                          ).join('') %>
                        </ul>
                    <% } %> 
                    </td>
                    <td>
                    <% if(truck.driversHistory.length === 0){ %> 
                      No History
                      <% } else {%> 
                        <ul>
                          <%- truck.driversHistory.map( driver => 
                          `<li>${driver.firstname}, ${driver.lastname}</li>`
                          ).join('') %>
                      </ul>
                          
                      <% } %> 
                    </td>
                    <td>
                        <form action="/home/trucks/<%= truck._id %>" method="get">
                            <button clas="edit-button" type="submit">Edit Truck</button>
                        </form>
                        <form action="/home/trucks/<%= truck._id %>?_method=DELETE" method="POST">
                          <button clas="delete-button" type="submit">Delete Truck</button>
                      </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
          </table>
        </div>
      </div>
  <% } %> 

</div>

<%- include('../partials/footer') %> 
